name: ci
permissions:
  pull-requests: write
  contents: read

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2 ## action created by other person
        with:
          fetch-depth: 0 ## most high level of historic, not all commits

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 20.11.x

      - uses: actions/cache@v4
        id: npm-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci --legacy-peer-deps

      - name: Run Jest tests
        run: npm run test

      - name: Run Linter
        run: npm run lint

      - name: Comment with Test Coverage
        uses: dkershner6/jest-coverage-commenter-action@v2
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          test_command: 'npm run test:coverage'
